doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Cloud Technology Lab
    link(rel='stylesheet', href='grid_with_media.css')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='font-awesome.css')
  body
    #menu
      #name
        | Cloud Technology Lab
        .line
        li.dropdown
          a(href='#one')
            ul О нас
          a(href='#two')
            ul О работе с нами
          a(href='#three')
            ul О совместной работе
          a(href='#four')
            ul О тестовом сервере
          a(href='#five')
            ul Наши технологии
      #current /О нас
    .wrapper-free.wrap
      a(name='one')
      .content
        h1 О нас
        p
          img.leftimg(src='image/activecloudplatform.jpg', alt='')
          | Лаборатория облачных технологий (Cloud Technology Lab) работает при Карагандинском Государственном Техническом Университете и нацелена на создание творческого коллектива, который сможет работать над коммерческими проектами, благодаря способным участникам, освоившим программы, используемые в нашей лаборатории.
        p
          | Так как лаборатория дает практические навыки программирования, студенты могут  использовать наработки в курсовых и дипломных работах. Вы можете показать свои знания на реальных примерах.
        p
          | Обучение проводится бесплатно и дистанционно. Студенты, прошедшие предварительное собеседование сначала получают тестовое задание, а затем учебные задания, с помощью которых учатся практическим навыкам. При возникновении вопросов о написании кода участникам либо выдаются ссылки, либо дается конкретный ответ в общем чате участников проекта. Основное требование лаборатории: постоянное совершенствование ваших знаний для достижения уровня, при котором вы смогли стать сотрудниками лаборатории и работать в коммерческих проектах, получая материальное вознаграждение.
      a(name='two')
      .content
        h1 Какая работа в нашем проекте может быть интересна для Вас?
        p
          img.rightimg(src='image/qv.jpg', alt='')
          | В нашем проекте на данный момент открываются следующие направления: разработчик, аналитик, тестировщик.
        p
          | Вы можете пробовать себя на разных позициях в различных заданиях- строгого регламента в этом плане нет, главное, чтобы Вам было действительно интересно и Вы с пользой как для себя, так и для любого проекта, смогли внести свой  вклад для развития лаборатории.
        p
          | Мы ищем не только программистов, людей, которые будут заняты только написанием кодов, но также и тех, кто, возможно, проявит свой талант в административной деятельности.
        p
          | Если у Вас замечательно получается находить подход к людям Вы можете попробовать себя в роли аналитика. Такая должность предполагает ведение переговоров с заказчиками, и донесение всех требований до разработчиков.
        p
          | Очень важна и работа тестировщиков, такие сотрудники также играют большую роль в любом IT-проекте.
      a(name='three')
      .content
        h1 Совместная работа
        p
          | В силу того, что CTlab основалась недавно, работает при КарГТУ и является молодой организацией, коллектив, участвующий в стартап проекте состоит практически из одних студентов.
        p
          | Уважение и поддержка каждого участника являются для лаборатории приоритетными.
          | Наша задача создать сплоченный коллектив, который будет слаженно работать, и решать возникшие проблемы сообща.
        p
          | Лаборатория предоставляет участникам полную свободу действий в плане выполнения заданий, то есть, то, как данные задания будут выполняться решать вам, это ваше право. Нам важен результат. Мы даем право на ошибки, так как понимаем, что вы обучаетесь. Убедительно просим всех участников проявлять больше решительности, при возникновении сомнений активно обсуждать вопросы с другими участниками проекта в общем мессенджере slack.
        p
          | Для более удобной и быстрой работы в нашей лаборатории предусмотрены специальные инструменты: мессенджер slack, система управления проектами jazz.hub, GIT…...
          | Мессенджер Slack интегрирует в свои каналы сообщения из других приложений для общения и работы (например, Drobpox, Google Docs, GitHub) и умеет посылать сигналы в эти сервисы прямо из комнат чата. Это позволяет пользователям отслеживать прогресс в различных проектах с помощью одной платформы, а также снизить информационную перегрузку, которая возникает при необходимости общаться с множеством людей в разных мессенджерах и почте.
        p
          | Кроме того, вы можете установить slack на свой телефон, и как уже упоминалось, в силу того, что slack способен снижать информационную перегрузку, вы будете получать только те сообщения, которые будут связаны с работой адресованной именно вам. Ваш телефон будет оповещать о полученном сообщении только в том случае, если в slack было упомянуто Ваше имя, в остальных случаях он Вас не беспокоит.
        p
          | Система управления проектами jazz.hub помогает организовать и привести в порядок цели и задачи команды при работе над каким-либо проектом.
      a(name='four')
      .content
        h1 Правила пользования тестовым сервером
        p
          | На использование тестового сервера ctlab.kstu.kz имеют право факультеты, кафедры и подразделения университета, а также преподаватели, сотрудники структурных подразделений, учащиеся КарГТУ (далее - пользователи).
        p
          | Для работы с тестовым сервером пользователи должны иметь учетные записи зарегистрированные на сервере.
        p
          | Тестовый сервер предназначен для проведения практических работ лаборатории облачных технологий и обмена информацией между пользователями.
        p
          | Услуги тестового сервера предоставляются бесплатно для подразделений университета, сотрудников и учащихся университета. Платных услуг не предоставляется.
        p
          b Запрещается нарушение работы сервера или ЛВС КарГТУ
        p
          | Любые попытки нарушить или причинить ущерб серверу или пользователям строго запрещены. Включают в себя (но не ограничиваются этим списком):
        ul
          li Заходить на сервер или аккаунт, вход на который не разрешен;
          li
            | Получать доступ к данным или предпринимать любые действия для получения услуг, не предназначенных для использования Вами;
          li Пытаться искать и испытывать на уязвимость любую систему, подсистему или сеть;
          li
            | Взламывать, модифицировать или другими методами портить или нарушать безопасность или способы аутентификации без должного разрешения;
          li
            | Передавать материалы, содержащие вирусы, трояны, черви или иные компьютерные программы с намерением повредить, уничтожить, подорвать или иным методом повлиять на работоспособность компьютера или функционирование системы;
          li Перехватывать, похищать или вмешиваться в любую систему, данные или информацию;
          li
            | Мешать пользователю получать услуги в полном объеме, средствами DoS-атак, mailbombing’а любой компьютерной системы.
          li
            | Деструктивные действия любого характера (запуск не отлаженных, ресурсоемких программ, что может отрицательно повлиять на работоспособность хостинга в целом и т.п.);
          li
            | Любые активности, которые могут привести к блэклистингу IP (SpamHaus, StopForumSpam, SpamCop, Blocklist, антивирусные базы и любые другие черные списки).
        p
          | Вы будете нести ответственность за все действия, совершенные с вашего аккаунта Вами или третьими лицами. Все подсети КарГТУ и все сервера должны придерживаться вышеизложенных правил.
      a(name='five')
      .content
        h1 Наши технологии
        #slider
          #slText
          .control
            i#back.fa.fa-step-backward(aria-hidden='true')
            i#pl_pa.fa.fa-pause(aria-hidden='true')
            i#next.fa.fa-step-forward(aria-hidden='true')
        .sl-navigation
          // <div id="tringle-l"></div>
          .it
          .it
          .it
          .it
          // <div id="tringle-r"></div>
    .footer
      span КарГТУ | Cloud Technology Lab | г. Карганда | 2016 г.
      a(href='mailto:ctlab@kstu.kz') Написать нам: ctlab@kstu.kz
      a(href='#one') Наверх
    script(src='script.js')
    script(src='scroll.js')
    script(src='paralax.js')